html,
body,
#root {
  min-height: 100%;
}

/* .card-height {
  min-height: 30rem;
} */

.bold-m {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.small-text {
  font-size: 0.85rem;
}

@media (min-width: 576px) {
  .card-height {
    height: 30rem;
  }
}
