html,
body,
#root {
  min-height: 100%;
}

.card-height {
  min-height: 30rem;
}

.form-error {
  display: flex;
  color: #ff0000;
}

select:invalid {
  color: grey;
}

select:valid {
  color: black;
}

.btn:focus {
  box-shadow: none !important;
}

.alert-container {
  z-index: 3;
}

.entry-div:hover {
  background-color: #f8f9fa;
}

.entry-div:hover div > .entry-title {
  color: #3b82f6;
}

.entry-title:hover {
  cursor: pointer;
}

.tooltip-arrow {
  display: none !important;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 7px;
}

.material-icons.md-22 {
  font-size: 22px;
  color: #4b5563;
}
.material-icons.md-28 {
  font-size: 28px;
}

@media (min-width: 576px) {
  .card-height {
    height: 30rem;
  }
}

@media (max-width: 767px) {
  .title-bold {
    font-weight: 600;
  }
}
